@using System.Configuration
@model LeaveManagement.Core.DomainModels.AdminProfile.ProfileViewModelList

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Users</h2>

<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> List Of Users</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                @*<h4><i class="fa fa-angle-right"></i> Responsive Table</h4>*@
                <section id="unseen" style="padding: 18px;">
                    <table class="table table-bordered table-striped table-condensed">
                        <tr>
                            <th class="numeric">
                                @Html.DisplayNameFor(model => model.ProfileViewModels.FirstOrDefault().Name)
                            </th>
                            <th class="numeric">
                                @Html.DisplayNameFor(model => model.ProfileViewModels.FirstOrDefault().UserName)
                            </th>

                            <th class="numeric"></th>
                        </tr>

                        @foreach (var item in Model.ProfileViewModels)
                        {
                            <tr>

                                <td class="numeric">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="numeric">
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>

                                <td class="numeric">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) 
                                </td>
                            </tr>
                        }

                    </table>

                    
                        <table class="table-bordered table-striped table-condensed">
                            <tr>
                            @{
                                var totalCount = Model.TotalCount;
                                int pageSize = ConfigurationManager.AppSettings["PageSize"] != null ? Convert.ToInt32(ConfigurationManager.AppSettings["PageSize"]) : 5;
                                if (totalCount > pageSize)
                                {
                                    int i = 0;
                                    int page = 1;
                                    while (i < totalCount)
                                    {
                                        <td>
                                           <a href="/Admin/AdminProfile/Users?page=@page">@page</a>
                                        </td>
                                        page++;
                                        i = i + pageSize;
                                    }
                                }
                            }
                               
                            </tr>
                        </table>
                    

                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-lg-4 -->
    </div><!-- /row -->
</section><!--/wrapper-->