@using LeaveManagement.Web.Models
@model LeaveManagement.Core.Domain.Login.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_ExternalPageLayout.cshtml";
}

<div class="form-login">
    <h2 class="form-login-heading">sign in now</h2>
    <div class="login-wrap">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            if (Request.QueryString["ReturnUrl"] != null)
            {
                <input type="hidden" name="returnurl" value="@Request.QueryString["ReturnUrl"]" />
            }

            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "autofocus", placeholder = "User ID" })
            <br>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autofocus = "autofocus", placeholder = "Password" })
            <br>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
            <br>
            <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>

                </span>
            </label>
            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
            <span class="bg-danger">@Html.ValidationSummary(true)</span>
                



        }
        @*<hr>*@
        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl ?? "/" })*@
        @*<div class="registration">
            Don't have an account yet?<br />
            <a class="" href="/Account/Register">
                Create an account
            </a>
        </div>*@
    </div>
</div>
